<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body> -->
    <% layout("/layouts/boilerplate") %>
    <body>
    
    <div class="row">
      <div class="col-8 offset-2">
        <br><br>
    <h3>Create a New Listing</h3>
    <!-- we use enctype="multipart/form-data for the image upload store -->
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required/>
          
        <!-- we write following code for the validation feedback in the form -->
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="listing[description]" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter the description</div>
    </div>

        <!-- <div class="mb-3">
          <label for="image" class="form-label" >Image Link</label>
          <input name="listing[image]" placeholder="enter image URL/Link"  type="text" class="form-control"  />
        </div> -->
        <div class="mb-3">
          <label for="image" class="form-label" > Upload Image </label>
          <input name="listing[image]" type="file" class="form-control" required />

        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="Price" class="form-label" >Price</label>
            <input name="listing[price]" placeholder="enter price" type="text" class="form-control"  required/>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        
        <div class="mb-3 col-md-8"> 
                <label for="country" class="form-label">Country</label>
              <input name="listing[country]" placeholder="enter country"type="text" class="form-control" required>
              <div class="invalid-feedback">Country should be valid</div>
              </div>
        </div>

      <div class="mb-3">
        <label for="location"  class="form-label">Location</label>
        <input name="listing[location]" placeholder="enter location"type="text" class="form-control" required>
        <div class="invalid-feedback">Location should be valid</div>
    </div>
       
       <br>
      <button class="btn btn-dark add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div> 
</body>
  <!-- </body>
</html> -->


